$margen: 15px;
$ancho: auto;
$alto: auto;
$max-ancho: 60px;
$flexdirect: row;
$flexwrap: nowrap;
$itemalign: center;


/*
.iconos {
	margin: 15px;
	width: auto;
	height: auto;
	max-width: 60px;

    .redessociales {
        display: flex;
        margin: 15px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}
*/